body{
    margin: 0px;
    padding: 0px;
    background-color: #72e1ec;
    overflow: hidden;
}

#outerBody{
    height: 580px;
    background-color:#72e1ec;
    margin: 40px;
    border-radius: 20px;
    padding: 25px;
}

#innerRightLogin{
    height: 200px;
    width: 200px;
    float: right;
    background-color:#72e1ec;
    border-radius: 20px;
    padding: 25px;
    width: 40vw;
    height: 530px;
}
#innerRightLogin h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: bold;
    padding-top: 90px;
    padding-left: 20px;
}

#innerRightLogin h6{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
}

#innerLeftDetails{
    height: 200px;
    width: 200px;
    float: left;
    border-radius: 20px;
    padding: 25px;
    width: 40vw;
    height: 530px;
}

#iconDetails{
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    width: 180px;
}
#labels{
margin:0px 10px;
}

.decorate{
    position: relative;
.deco{
    font-size: 20px;
    background-color: transparent;
position: absolute;
top: 14px;
bottom: -10px;
right: 445px;
color: #666;
transition: 0.3s;
pointer-events: none;
    }

}
.decorate input:focus~label{
    top: -13px;
    color: #000000;
    background-color: transparent;
}
.decorate input:valid~label{
    top:-13px;
    background-color: transparent;
}



input {
padding: 10px;
margin-bottom: 12px;
border: 2px solid #ffffff; 
border-radius: 8px; 
transition: border-color 0.3s ease-in-out;
outline: none;
color: #000000;
background-color: #12ecf4;
}
input:focus {
border-color: #ff9900;
}

input{
    margin:10px 20px;
    padding: 5px;
    width:35vw;
    border-radius: 6px;
    border-width: 1px;
}
#loginButton{
background-color: #ff9900; 
color: #fff;
padding: 10px;
border: none;
border-radius: 8px; 
cursor: pointer;
transition: background-color 0.3s ease-in-out;
}

button:hover {
background-color: #ff6600; 
}

form input[type="email"]::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

form input[type="password"]::placeholder {
    font-family: 'DM Serif Display', serif;
}

form input[type="text"]::placeholder {
    font-family: 'DM Serif Display', serif;
}

#forgot-signup{
    margin: 4px 0px;
}

form.signup {
    display: none;
}

.radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
input:focus{
border-color: #ff9900;
}
input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff9900; 
    border: 1px solid #ff9900; 
    margin-right: 10px;
}

input[type="radio"] {
    background-color: #ff9900; ;
}
